* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #334d6e;
    font-family: "Roboto", sans-serif;
}
.setting .content {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.setting .avatar img {
    width: 100px;
}
.setting .content button{
    color: #334d6e;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all .3s;
}
.setting .container .update-custom{
    margin-top: 10px;
    margin-left: 30%;
    outline: none;
    border: 1px solid #fca400;
    background: #fca400;
    color: #fff;
    border-radius: 6px;
    padding: 5px 15px;
}
.setting .container .update-custom:hover {
    color: #fff;
}
.setting .item {
    width: 70%;
}
.setting .content i{
    color: #334d6e;
    margin-right: 5px;
} 
.setting .content button:hover{
    color: #fca400;
}
.setting .content{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    margin-top: 20px;
}
.setting .username .item p{
    margin-top: 20px;
}
.setting .information table{
    /* width: 500px;
    height: 300px; */
}
.information #custom-info table{
   width: 700px;
   height: 300px;
}

.setting .password table{
    width: 300px;
    height: 100px;
}
.setting #pass table{
    width: 700px;
    height: 200px;
}
@media screen and (max-width:768px){
    .information #custom-info table{
        width: 500px;
        height: 300px;
     }
    .setting #pass table{
        width: 500px;
        height: 200px;
    }
}