* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #334d6e;
    font-family: "Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Roboto",sans-serif;
}

/* HEADER  */

#header .navbar{
    box-shadow: 0 1px 8px rgba(89, 120, 150, 0.2);
    height: 80px;
    background-color: #fff;
}
#header .navbar-brand img{
    width: 100px;
}
#header .navbar-user a{
    text-decoration: none;
    color: #334d6e;
    font-size: 16px;
    margin-bottom: 0;
}
#header .navbar-user a:hover{
    color: #fca400;
}
#header .navbar-user i{
    font-size: 24px;
    margin-right: 5px;
}
#header .navbar-user .dropdown-menu{
    left: auto; 
}
#header .dropdown-account{
    color: #334d6e;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.setting {
    margin-top: 50px;
}
.setting .content {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.setting .avatar img {
    width: 100px;
}
.setting .content button{
    color: #334d6e;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all .3s;
}
.setting .container .update-custom{
    margin-top: 10px;
    margin-left: 30%;
    outline: none;
    border: 1px solid #fca400;
    background: #fca400;
    color: #fff;
    border-radius: 6px;
    padding: 5px 15px;
}
.setting .container .update-custom:hover {
    color: #fff;
}
.setting .item {
    width: 70%;
}
.setting .content i{
    color: #334d6e;
    margin-right: 5px;
} 
.setting .content button:hover{
    color: #fca400;
}
.setting .content{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    margin-top: 20px;
}
.setting .username .item p{
    margin-top: 20px;
}
.setting .information table{
    /* width: 500px;
    height: 300px; */
}
.information #custom-info table{
   width: 700px;
   height: 300px;
}

.setting .password table{
    width: 300px;
    height: 100px;
}
.setting #pass table{
    width: 700px;
    height: 200px;
}
@media screen and (max-width:768px){
    .information #custom-info table{
        width: 500px;
        height: 300px;
     }
    .setting #pass table{
        width: 500px;
        height: 200px;
    }
}
#footer {
    padding: 30px 0;
    background: black;
}
#footer .content {
    width: 85%;
    margin: auto;
}
#footer a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
#footer p:hover a {
    color: #fca400;
}
#footer i {
    font-size: 2rem;
    color: #f2c94c;
}
#footer p {
    color: white;
}
#footer h6 {
    color: #fca400;
}
#footer .fa-facebook {
    color: #385898;
}
#footer .fa-youtube {
    color: red;
}